/* NavBar.module.css */

.navBarWrapper {
  background-color: #c0dbe4;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  color: #000000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 36px;
  width: 100%;
}

.navBarLogo {
  width: 15%;
}

.navBarLogo img {
  width: 25px;
}

.navButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  gap: 20px;
}

.HomePageTextLink {
  display: flex;
  align-items: center;
  justify-content: center;
}

.HomePageTextLink a {
  color: #000000;
  cursor: pointer;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
}

.CartButton {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  width: 44px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.CartButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: Center;
}
